image: "sbtscala/scala-sbt:graalvm-community-25.0.1_1.12.0_3.7.4"

stages:
  - test
  - deploy
  - docker_build
  - docker_push

variables:
  SBT_OPTS: "-Dsbt.global.base=sbt-cache/.sbtboot -Dsbt.boot.directory=sbt-cache/.boot -Dsbt.ivy.home=sbt-cache/.ivy -Dsbt.coursier.home=sbt-cache/.coursier"

cache:
  key: "$CI_BUILD_REF_NAME" # contains either the branch or the tag, so it's caching per branch
  untracked: true
  paths:
    - "sbt-cache/.ivy.cache"
    - "sbt-cache/.boot"
    - "sbt-cache/.sbtboot"
    - "sbt-cache/target"
    - "sbt-cache/.coursier"

unit_test:
  stage: test
  script:
  - sbt clean coverage test coverageReport coverageAggregate
  artifacts:
    paths:
    - target/scala-3.7.4/scoverage-report/
    - target/scala-3.7.4/coverage-report/
    when: always
    reports:
      junit:
        - modules/core/target/test-reports/TEST-*.xml
  coverage: '/Statement coverage[A-Za-z\.*]\s*:\s*([^%]+)/'

scapegoat_analysis:
  stage: test
  script:
    - sbt scapegoat
  artifacts:
    paths:
      - cli/target/scala-3.7.4/scapegoat-report/
      - core/target/scala-3.7.4/scapegoat-report/
      - persistence/target/scala-3.7.4/scapegoat-report/
      - server/target/scala-3.7.4/scapegoat-report/

check_format:
  stage: test
  script:
  - sbt fmtCheck
  allow_failure: true

check_dependency_update:
  stage: test
  script:
  - sbt "set dependencyUpdatesFailBuild := true" dependencyUpdates
  allow_failure: true

pages:
  stage: deploy
  dependencies:
    - unit_test
    - scapegoat_analysis
  script:
    - rm -rf public/coverage public/scapegoat
    - mkdir -p public/coverage public/scapegoat/cli public/scapegoat/core public/scapegoat/persistence public/scapegoat/server
    - mv target/scala-3.7.4/scoverage-report/* public/coverage/
    - mv cli/target/scala-3.7.4/scapegoat-report/scapegoat.html public/scapegoat/cli/index.html
    - mv core/target/scala-3.7.4/scapegoat-report/scapegoat.html public/scapegoat/core/index.html
    - mv persistence/target/scala-3.7.4/scapegoat-report/scapegoat.html public/scapegoat/persistence/index.html
    - mv server/target/scala-3.7.4/scapegoat-report/scapegoat.html public/scapegoat/server/index.html
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - master

Build:
  image: docker:latest
  services:
    - docker:dind
  stage: docker_build
  only:
    - master
    - tags
  script:
    - echo -n $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:latest || true
    - >
      docker build
      --pull
      --build-arg VCS_REF=$CI_COMMIT_SHA
      --build-arg VCS_URL=$CI_PROJECT_URL
      --cache-from $CI_REGISTRY_IMAGE:latest
      --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
      .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA

Push latest:
  image: docker:latest
  services:
    - docker:dind
  variables:
    GIT_STRATEGY: none
  stage: docker_push
  only:
    - master
  script:
    - echo -n $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE:latest
    - echo -n $DOCKER_HUB_PASSWORD | docker login -u tyoras --password-stdin
    - docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA tyoras/cards:latest
    - docker push tyoras/cards:latest

Push tag:
  image: docker:latest
  services:
    - docker:dind
  variables:
    GIT_STRATEGY: none
  stage: docker_push
  only:
    - tags
  script:
    - echo -n $CI_JOB_TOKEN | docker login -u gitlab-ci-token --password-stdin $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
    - echo -n $DOCKER_HUB_PASSWORD | docker login -u tyoras --password-stdin
    - docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA tyoras/cards:$CI_COMMIT_REF_NAME
    - docker push tyoras/cards:$CI_COMMIT_REF_NAME
